.about{
  padding: 80px;
}
.bg{
  height: auto;
  min-height: 100vh;
  background: url('../images/1.jpeg')no-repeat center center;
  background-size: cover;
  /*z-index: -1;*/
  opacity: 0.5;
  color: black;
  z-index: 0;
}
.bg > .about{
  z-index: 1000;
}
